<div class="ui secondary  menu">

  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<button class="ui basic loading button">Loading</button>
